.closeBtn {
    width: 32px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

.deleteH1 {
    color: var(--color-delete-card);
    margin-bottom: 24px;
}

.deleteCardButtons {
    width: 100%;
    gap: 16px;
    margin-bottom: 45px;
}

.cancelButton,
.confirmButton {
    /* all: unset; */
    border-radius: 5px;
    padding: 3px 35px;
    border: none;
    cursor: pointer;
}

.cancelButton {
    background-color: var(--color-error-background);
    color: var(--color-red-error);
}

.confirmButton {
    color: var(--color-dark-green);
    background-color: var(--light-green);
}