.dashboardMenu {
    position: sticky;
    bottom: 0;
    top: 0;
    width: 110px;
    height: 100vh;
    background-color: var(--gray-200);
}

.asideMenu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 366px;
}

.selectedMenu {
    border-right: 2px solid var(--pink);
}

.iconMenu {
    padding: 25px 45px;
    cursor: pointer;
}

.imageMenu {
    width: 35px;
}

.spanMenu {
    margin: 0;
}