.confirmedPage {
  display: flex;
}

.containerConfirmed {
  position: relative;
  width: 70%;
  background-color: var(--gray-100);
}

.confirmedInfos {
  width: 38vw;
  height: 60vh;
  background-color: var(--gray-200);
  border-radius: 30px;
  margin-bottom: 34px;
}

span {
  margin-top: 8px;
}
