.dashboardPage {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  background-color: var(--gray-100);
  position: relative;
}

.pageAndHeader {
  padding: 40px;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
}

.chargesTypes,
.summaryChargesContainer,
.containerClientTypes {
  display: flex;
  padding: 20px 50px;
  gap: 35px;
  width: 100%;
}

.summaryChargeCard {
  width: 100%;
  padding: 30px;
  border-radius: 30px;
  background-color: var(--charges-paid-300);
}

.chargeInfos {
  margin-left: 50px;
}

.chargeIcon {
  width: 37px;
}

.summaryChargeCard:nth-child(1) {
  background-color: var(--charges-overdue-300);
}

.summaryChargeCard:nth-child(2) {
  background-color: var(--charges-anticiped-300);
}

.summaryCharges {
  width: 100%;
  background-color: var(--white);
  border-radius: 30px;
  height: fit-content;
}

.summaryHeader,
.dataTitles,
.charge,
.clientHeaderBox,
.clientTypeHeader {
  padding: 23px;
  border-bottom: 2px solid var(--gray-100);
}

.charge {
  display: flex;
  justify-content: space-between;
}

.summaryHeader {
  justify-content: space-between;
}

.amountBox {
  padding: 0 15px;
  border-radius: 50px;
}

.overdueAmount,
.defaulterClientAmount {
  color: var(--charges-overdue-500);
  background-color: var(--charges-overdue-300);
}

.anticipedAmount {
  color: var(--charges-anticiped-500);
  background-color: var(--charges-anticiped-300);
}

.paidAmount,
.clientUpToDateAmount {
  color: var(--charges-paid-500);
  background-color: var(--charges-paid-300);
}

.dataTitles,
.clientTypeHeader {
  display: flex;
  justify-content: space-between;
}

.chargeInfo,
.dataTitle,
.clientTypeTitle {
  margin: 0;
  width: 40%;
  text-align: center;
}

.chargeLink {
  margin: 0;
  padding: 15px;
}

.clientContainer {
  width: 100%;
  background-color: var(--white);
  border-radius: 30px;
  height: fit-content;
}

.clientHeaderBox {
  display: flex;
  justify-content: space-between;
}

.clientTypeHeader {
  display: flex;
}